@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';
@import "~bootstrap/scss/bootstrap";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $smDesktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $tableWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1400px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 80px auto;
}

.form {
  .form-group,
  .form-check {
    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  input {
    &:focus {
      box-shadow: unset;
    }

    &.invalid {
      border-color: #dc3545;
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    }
    &.success {
      border-color: #298611;
    }
  }

  .form-text {
    font-size: 13px;
    color: red;

    &.success {
      color: green;
    }
  }

  .error-mess {
    display: block;
    margin: 20px 0;

    li {
      font-size: 14px;
      color: red;

      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  button {
    margin-top: 16px;
  }
}


@import "pages/blog";
