.blog-posts {
  .post-item {
    margin-bottom: 16px;

    .post-cover {
      padding: 16px;
      border: 1px solid #f1f1f1;
      border-radius: 8px;
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      }

      .title {
        margin-bottom: 16px;

        h3 {
          font-size: 22px;
        }
      }

      .description {
        margin-bottom: 24px;
        font-style: 15px;
        line-height: 1.4;
      }
    }
  }
}
