<template>
  <div class="container blog-posts">
    <div class="row">

      <article class="col-md-4 col-sm-12 post-item" v-for="post in posts" v-bind:key="post.id">
        <div class="post-cover">
          <div class="title"><h3>{{ post.title }}</h3></div>
          <div class="description"><p>{{ post.description }}</p></div>
          <div class="likes"><p>Likes: {{ post.likes.length }}</p></div>
        </div>
      </article>

    </div>

    <div class="row">

      <ul class="col-md-12 pagination" v-if="pagination.pages">
        <li class="pagination" v-for="pageNumber in pagination.pages">
         <!-- <a href="/?page={{pageNumber}}" v-bind:key="pageNumber">{{pageNumber}}</a>-->
          <button type="button">{{pageNumber}}</button>
        </li>
      </ul>

    </div>

  </div>
</template>



<script>
import axios from 'axios';

export default {
  data() {
    return {
      // props: ['post'],
      pagination: {
        // limit: 10,
        // total: 1,
        pages: null
      },
      posts: [],
      error: null,
    }
  },
  created() {
    axios.get('http://test-blog-api.ficuslife.com/api/v1/posts')
      .then(response => {
        const limit = response.data.pagination.limit;
        const total = response.data.pagination.total;
        this.pagination.pages = Math.ceil( total / limit );
        this.posts = response.data.data;
        // console.log(this.pagination.limit, this.pagination.total, this.posts, 'limit, total, posts');
      })
      .catch( e => {
        this.error = e;
      });
  }
}
</script>
