<template>
  <form action="" class="form" method="post" @submit="SubmitLogin">
    <div class="form-group">
      <label for="authEmail1">Email address</label>
      <input type="email" v-model="postBody.email" @blur="validField" :class="emailClass" class="form-control" id="authEmail1" placeholder="Enter email">
      <small class="form-text" v-show="emailClass=='invalid'">Write your email! This field is required!!</small>
    </div>
    <div class="form-group">
      <label for="authPassword">Password</label>
      <input type="password" v-model="postBody.password" @blur="validField" :class="passClass" class="form-control" id="authPassword" placeholder="Password">
      <small class="form-text" v-show="passClass=='invalid'">Write your password! This field is required!!</small>
    </div>
    <p v-if="errors.length" class="form-text">{{ errors }}</p>
    <p v-if="successAuth.length" class="form-text success">{{ successAuth }}</p>
    <p v-if="token">Your token: {{ token }}</p>
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      token: null,
      errors: false,
      successAuth: false,
      postBody: {
        email : null,
        password : null,
      },
      emailClass: false,
      passClass: false,
    };
  },
  methods: {
    SubmitLogin: function(e) {
      e.preventDefault();

      this.emailClass = ( ! this.postBody.email ) ? 'invalid' : 'success';
      this.passClass = ( ! this.postBody.password ) ? 'invalid' : 'success';

      if( ! this.postBody.email || ! this.postBody.password ) {
        this.errors = 'Fill in required fields';
        return false;
      }

      axios.post('http://test-blog-api.ficuslife.com/api/v1/auth', this.postBody )
        .then(response => {
          console.log(response, 'response');
          if( response.status == 200 ) {
            this.token = response.data.token;
            this.errors = false;
            this.successAuth = 'You successfully login';
          }
        })
        .catch( error => {
          this.errors = error.message;
        });
    },
    validField: function(e) {
      const check = ( e.target.value != '' ) ? true : false;
      const typeField = e.target.getAttribute('type');

      if( typeField === 'email' ) {
        this.emailClass = check ? 'success' : 'invalid';
      } else if( typeField === 'password' ) {
        this.passClass = check ? 'success' : 'invalid';
      }
      return check;
    }
  }
}
</script>
