<template>
  <form action="" class="form" method="post" @submit="Submit">
    <div class="form-group">
      <label for="inputEmail1">Email address</label>
      <input type="email" v-model="postBody.email" @blur="validField" :class="emailClass" class="form-control" id="inputEmail1" placeholder="Enter email">
      <small class="form-text" v-show="emailClass=='invalid'">Write your email! This field is required!!</small>
    </div>
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" v-model="postBody.name" @blur="validField" :class="nameClass" class="form-control" id="inputName" placeholder="Enter name">
      <!--<small class="form-text" v-show="nameClass=='invalid'">Write your name! This field is required!!</small>-->
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" v-model="postBody.password" @blur="validField" :class="passClass" class="form-control" id="inputPassword" placeholder="Password">
      <small class="form-text" v-show="passClass=='invalid'">Write your password! This field is required!!</small>
    </div>
    <div class="form-check">
      <input type="checkbox" v-model="check" @change="validField" :class="checkClass" class="form-check-input" id="consent">
      <label class="form-check-label" for="consent">I consent to the processing of personal data</label>
    </div>
    <p v-if="errors.length" class="form-text">{{ errors }}</p>
    <p v-if="successRegister.length" class="form-text success">{{ successRegister }}</p>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      errors: false,
      successRegister: false,
      postBody: {
        email : null,
        password : null,
        name : null,
      },
      check: false,
      nameClass: false,
      emailClass: false,
      passClass: false,
      checkClass: false,
    };
  },
  methods: {
    Submit: function(e) {
      e.preventDefault();

      // this.nameClass = ( ! this.postBody.name ) ? 'invalid' : 'success';
      this.emailClass = ( ! this.postBody.email ) ? 'invalid' : 'success';
      this.passClass = ( ! this.postBody.password ) ? 'invalid' : 'success';
      this.checkClass = ( ! this.postBody.check ) ? 'invalid' : 'success';

      if( ! this.postBody.email || ! this.postBody.password || ! this.check ) {
        this.errors = 'Fill in required fields';
        return false;
      }

      axios.post('http://test-blog-api.ficuslife.com/api/v1/users', this.postBody )
        .then(response => {
          if( response.status == 200 ) {
            this.errors = false;
            this.successRegister = 'You successfully registered';
          }
          console.log(response, 'response');
        })
        .catch( error => {
          this.errors = error.message;
        });
    },
    validField: function(e) {
      const check = ( e.target.value != '' ) ? true : false;
      const typeField = e.target.getAttribute('type');

      if( typeField === 'email' ) {
        this.emailClass = check ? 'success' : 'invalid';
      // } else if( typeField === 'text' ) {
      //   this.nameClass = check ? 'success' : 'invalid';
      } else if( typeField === 'password' ) {
        this.passClass = check ? 'success' : 'invalid';
      } else if( typeField === 'checkbox' )  {
        this.checkClass = e.target.checked ? 'success' : 'invalid';
      }
      return check;
    }
  }
}
</script>
