<template>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>ID</th>
        <th>Ava</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="user in users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.avatar }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>



<script>
import axios from 'axios';

export default {
  data() {
    return {
      users: [],
      errors: [],
    }
  },
  created() {
    axios.get('http://test-blog-api.ficuslife.com/api/v1/users/?limit=100')
      .then(response => {
        this.users = response.data.data;
      })
    .catch( e => {
      this.errors.push(e);
    });
  }
}
</script>
